@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800&family=Bellefair&display=swap");
:root {
  --trans-blue: rgb(11, 13, 23);
  --light-blue: hsl(231, 77%, 90%);
  --light-cream: rgba(255, 255, 255);
}
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
}
.notHomeHeader {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--light-cream);
  line-height: 1px;
}
strong.notHomeHeader {
  color: var(--light-blue);
  margin-right: 10px;
}
.tech_crewName {
  font-size: 56px;
  font-family: "Bellefair", serif;
  margin-top: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.para {
  line-height: 32px;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--light-blue);
  letter-spacing: 1px;
}
/* Header */
.header {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.header .navBrand {
  background-color: var(--light-cream);
  border-radius: 50%;
  box-sizing: border-box;
}
.header .hr-line {
  width: 50vw;
  position: relative;
  z-index: 999;
  margin-left: 20px;
  left: 3%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.pageNav {
  background-color: hsla(0,0%,100%,.04);
  height: 90px;
  width: 85vw;
  -webkit-backdrop-filter: blur(81.5845px);
  backdrop-filter: blur(81.5845px);
}
.iconClose {
  display: none;
}
.navContainer {
  margin: 0 120px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks {
  display: flex;
  color: var(--light-cream);
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  cursor: pointer;
  padding-bottom: 17px;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
}
.active .navLinks {
  border-bottom: solid 3px white;
}
.navLinks:hover {
  border-bottom: solid 3px white;
  opacity: 0.7;
}
.navLinks strong {
  letter-spacing: 2.7px;
  margin-right: 7px;
  margin-top: 3px;
}
.navLinks p {
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
/*Header ends*/
/*home*/
.homeContainer {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
}
.travelSpaceContainer {
  width: 80vw;
  margin: 130px auto 80px auto;
  display: flex;
  justify-content: space-between;
}
.travelSpaceText {
  width: 40%;
}
.travelSpaceContainer .travel {
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--light-blue);
  margin: 0;
}
.travelSpaceContainer .space {
  font-size: 150px;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  letter-spacing: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.travelSpaceText .spaceText p {
  margin-top: -30px;
}
.exploreBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exploreBtn {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.exploreBtn:hover {
  border: solid 50px rgba(210, 216, 249, 0.1);
  border-radius: 100vw;
  transition: 0.5s ease-out;
}
.exploreBtn button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100vw;
  cursor: pointer;
  font-size: 32px;
  font-family: "Bellefair", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*home ends here*/
/*Destination starts here*/
.destinationContainer {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}
.pickDestination {
  margin: 50px 180px 50px 140px;
}
.destinationHeader {
  display: flex;
  align-items: center;
}
.pickDestination section {
  display: flex;
}
.destinationImage img {
  margin-right: 170px;
}
.destinationPlanet {
  display: flex;
}
.destinationroute {
  cursor: pointer;
  margin-right: 24px;
  transition: 0.1s;
}
.destinationroute.active {
  border-bottom: solid 3px var(--light-cream);
}
.destinationroute:hover {
  border-bottom: solid 3px var(--light-cream);
  opacity: 0.7;
}
.destinationroute p {
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: var(--light-cream);
}
.pickDestination section {
  margin-top: 50px;
  margin-left: 40px;
}
.destinationPara {
  width: 400px;
}
.aboutDestination .aboutHeader {
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  margin-top: 20px;
  margin-bottom: 0;
}
.aboutDestination .time {
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.details {
  line-height: 10px;
}
.details .avgDistance {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--light-blue);
  text-transform: uppercase;
}
.details .distance {
  font-size: 28px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

/*Destination stops here*/
/*crew start here*/
.crewContainer {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}
.crewHeader {
  display: flex;
  align-items: center;
}
.crewContentContainer {
  margin: 50px 150px 0px 140px;
}
.mainCrewContent {
  display: flex;
}
.aboutCrew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}
.aboutCrew .role {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  color: var(--light-blue);
  margin-top: 0;
  margin-bottom: 15px;
}
.aboutCrew .name {
  margin-bottom: 15px;
}
.aboutCrew .bio {
  width: 400px;
}
.crewNav {
  display: flex;
}
.crewRoute {
  height: 12px;
  width: 12px;
  background-color: rgba(151, 151, 151, 0.5);
  border-radius: 100vw;
  margin-bottom: 20px;
  margin-right: 17px;
  cursor: pointer;
  margin-top: 50px;
}
.crewRoute:hover {
  background-color: rgba(151, 151, 151, 0.8);
}
.crewRoute.active {
  background-color: white;
}
.crewImage img {
  margin-left: 150px;
}
/*crew Ends here*/
/*Technology starts here*/
.techContainer {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}
.mainTech {
  margin: 50px 0px 100px 140px;
}
.techHeader {
  display: flex;
  align-items: center;
}
.techDescription {
  display: flex;
}
.techNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainTech section {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.techRoute {
  height: 60px;
  width: 60px;
  border-radius: 100vw;
  background-color: transparent;
  margin-bottom: 28px;
  border: solid 0.3px gray;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: "Bellefair", serif;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
}
.techRoute:hover {
  border: solid 0.3px white;
}
.techRoute.active {
  background-color: #fff;
  color: black;
  border: none;
}
.aboutTech {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  float: right;
  width: 100%;
}
.techImage {
  float: right;
}
.techText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.techTextContainer {
  max-width: 410px;
}
.techTextContainer .role {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", serif;
  color: var(--light-blue);
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2.7px;
}
.techTextContainer .name {
  margin-bottom: 3px;
}
.techTextContainer .description p {
  margin-top: 0;
}
/*Technology ends here*/
@media (max-width: 1100px) {
  .navContainer {
    margin: 0 30px 0 30px;
  }
  .pickDestination,
  .crewContentContainer,
  .mainTech {
    margin: 50px 20px;
  }
  .mainTech {
    margin: 50px 0 50px 20px;
  }
  .destinationHeader,
  .crewHeader,
  .techHeader {
    margin-left: 40px;
  }
  .destinationPlanet {
    margin-right: 5rem;
  }
  .destinationImage img,
  .aboutCrewContainer img {
    width: 90%;
  }
  .destinationImage img {
    margin-right: 70px;
  }
  .techImage img {
    width: 100%;
  }
  .crewImage img {
    display: flex;
    justify-content: flex-end;
    margin: 70px auto 0 auto;
  }
  .tech_crewName {
    white-space: normal;
  }
  .crewRoute {
    margin-top: 0px;
  }
}
@media (max-width: 900px) {
  .header {
    justify-content: space-between;
    padding-top: 0;
  }
  .header .hr-line {
    display: none;
  }
  .pageNav {
    width: 70%;
  }
  .homeContainer {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
  .travelSpaceContainer {
    flex-direction: column;
  }
  .travelSpaceText {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px auto 170px auto;
    justify-content: center;
  }
  .para {
    font-size: 16px;
    line-height: 28px;
  }
  .exploreBtn {
    margin-bottom: 40px;
  }
  .destinationContainer {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
  .notHomeHeader {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .destinationPlanet {
    margin: 20px auto;
    justify-content: center;
  }
  .pickDestination section {
    margin-top: 60px;
    flex-direction: column;
  }
  .aboutDestinationContainer {
    grid-template-columns: auto;
    margin: 0 auto;
    justify-content: center;
  }
  .destinationImage {
    margin: 0 auto;
    margin-right: 0;
  }
  .destinationImage img {
    width: 70%;
    margin-bottom: 30px;
  }
  .aboutDestination .aboutHeader {
    font-size: 80px;
  }
  .destinationPara {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .crewContainer {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
  .mainCrewContent {
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
  }
  .aboutCrew {
    margin-top: 70px;
  }
  .aboutCrew .role {
    font-size: 24px;
  }
  .tech_crewName {
    font-size: 40px;
  }
  .aboutCrew .bio {
    margin: 0 auto;
    width: 100%;
  }
  .crewNav {
    margin-top: 10px;
    justify-content: center;
  }
  .crewImage img {
    justify-content: center;
    margin-bottom: -48px;
  }
  .techContainer {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }
  .mainTech {
    margin-left: 0;
    margin-right: 0;
  }
  .mainTech section {
    flex-direction: column-reverse;
  }
  .techDescription {
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
  }
  .techNav {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .techRoute {
    margin-right: 30px;
  }
  .techText {
    margin-left: 0;
  }
  .techTextContainer {
    width: 100%;
    text-align: center;
  }
}
@media(max-width:640px) {
  .header {
    margin-right: 20px;
    padding-top: 15px;
    margin-left: 20px;
  }
  #toggle {
    cursor: pointer;
  }
  .pageNav {
    height: 100vh;
    width: 67vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0%);
    transition: .5s;
    z-index: 999px;
  }
  .transparent {
    width: 100vw;
    background-color: transparent;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .iconClose {
    display: block;
  }
  #close {
    cursor: pointer;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
  }
  .navContainer {
    margin: 80px 0 0 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .active .navLinks, .navLinks:hover {
    border-bottom: none;
  }
  .travelSpaceContainer .travel {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .travelSpaceContainer .space {
    font-size: 100px;
  }
  .para {
    font-size: 15px;
    line-height: 25px;
  }
  .notHomeHeader {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .destinationroute p {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .aboutDestination .aboutHeader {
    font-size: 56px;
  }
  .aboutCrew .role {
    font-size: 16px;
  }
  .tech_crewName {
    font-size: 24px;
  }
  .techTextContainer .role {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .navLinks {
    padding-bottom: 0;
  }
  .travelSpaceText, .destinationPara {
    width: 95%;
  }
  .pickDestination section {
    margin-left: 0;
  }
  .destinationImage img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .aboutDestination .time {
    grid-template-columns: auto;
  }
  .details {
    margin-bottom: 30px;
  }
  .techHeader, .crewHeader, .destinationHeader {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  .mainCrewContent {
    flex-direction: column-reverse;
  }
  .crewImage {
    width: 96%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    display: flex;
  }
  .crewImage img {
    width: 70%;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .flex-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutCrew {
    margin-top: 20px;
  }
  .crewNav {
    margin-top: 35px;
  }
  .crewRoute {
    width: 10px;
    height: 10px;
  }
  .techNav {
    margin-bottom: 20px;
  }
  .techRoute {
    height: 40px;
    width: 40px;
    font-size: 25px;
    margin-right: 20px;
  }
  .techTextContainer {
    width: 90%;
  }
  .techTextContainer .name {
    margin-bottom: 10px;
  }
  .techTextContainer .role {
    line-height: 32px;
  }
}
